@import '../SCSS/variables.scss' ;
// @import 'http://127.0.0.1:5500/SCSS/variables.scss' ;
@import '../SCSS/mixins.scss' ;
// @import 'http://127.0.0.1:5500/SCSS/mixins.scss' ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    &-left{
        height: 100vh;
        width: 60%;
        background-color: $bg-color;
    }
    &-right{
        @include backgroundImage;
        height: 100vh;
        width: 40%;
    }
}