@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
h1 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-family: 'Nunito', sans-serif;
}

h5 {
  font-family: 'Nunito', sans-serif;
}

h6 {
  font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .profile-container {
  display: flex;
}

.container .profile-container .profile-left {
  height: 100vh;
  width: 83%;
  position: relative;
  background: url(/images/pexels-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
}

.container .profile-container .profile-left header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 40px;
}

.container .profile-container .profile-left header img {
  height: 80px;
}

.container .profile-container .profile-left header ul {
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  background: radial-gradient(circle, #ffa0a0 0%, #262a53 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .profile-container .profile-left header ul li {
  display: inline-block;
  padding-right: 35px;
  cursor: pointer;
}

.container .profile-container .profile-left header ul li:hover {
  text-decoration: underline #4e6160 2px;
}

.container .profile-container .profile-left section {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 100px 200px 0px;
  justify-content: center;
}

.container .profile-container .profile-left section h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #2d2d2d;
  margin-bottom: -10px;
}

.container .profile-container .profile-left section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #4b5d5d;
  font-size: 1.2rem;
  max-width: 340px;
  padding: 10px 0px;
  line-height: 1.7rem;
  letter-spacing: 1.6px;
}

.container .profile-container .profile-left section p span {
  font-weight: 700;
  color: #2d2d2d;
}

.container .profile-container .profile-left section .icon-set {
  display: flex;
  max-width: 280px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.container .profile-container .profile-left section .icon-set button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fe4646;
  background-color: #fe4646;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.container .profile-container .profile-left section .icon-set img {
  height: 22px;
  width: 22px;
}

.container .profile-container .profile-left footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: #fffffe;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container .profile-container .profile-right {
  background: url(/images/pascal-bernardon-e8t3SqTMNF0-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 40%;
}

.container .works-container {
  height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .works-container h2 {
  margin: 100px 0px;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */