@import '../SCSS/variables.scss' ;
// @import 'http://127.0.0.1:5500/SCSS/variables.scss' ;
@import '../SCSS/mixins.scss' ;
// @import 'http://127.0.0.1:5500/SCSS/mixins.scss' ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    &-left {
        height: 100vh;
        width: 60%;
        @include bgImage;
        header{
            height: 100px;
            width:100%;
            // background-color: #FFE3E3;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px 40px;
            img{
                height: 80px;
            }
            ul{
                list-style-type: none;
                @include headerFont;
                li{
                    display: inline-block;
                    padding-right: 35px;
                }
            }
        }
    }
    &-right {
        @include personImage;
        height: 100vh;
        width: 40%;
    }
}