$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bg-color: #fffffe;
$main-color: #2d2d2d;
$sec-color: #4b5d5d;
$thd-color: #4e6160;
$btn-color: #fe4646;
$workbg-color: #f1f1f1;